# ============================================================================
# Source: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Source: https://codefresh.io/docker-tutorial/not-ignore-dockerignore/
# From "Sending build context to Docker daemon 314.6MB"
# To "Sending build context to Docker daemon 9.35MB"
# ============================================================================

# Folders
.idea
.vscode
.git
node_modules
dist

# Files
package-lock.json
