###> DEPENDENCIES ###
node_modules
###< DEPENDENCIES ###

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml


# Plugin configurations
\.babelrc
\.eslintrc

###> LOGS ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*
###< LOGS ###

###> REPORTS ###
reports
###< REPORTS ###
